* {
    box-sizing: border-box;
}

body {
    background-color: #F1EEE5;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    color: #505050;
}

a {
    color: #505050;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 989px;
}

.content {
    padding: 10px;
}

.dark-bg {
    background-color: #76808d;
}

.white-bg {
    background-color: white;
}

.medium-dark-bg {
    background-color: rgb(138, 151, 172);
}

.menu {
    font-weight: bold;
    height: 29px;
    text-align: left;
    background-color: rgb(138, 151, 172);
    padding-left: 10px;
    padding-right: 10px;
}

.menu * {
    color: white;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    padding-left: 4px;
    padding-top: 5px;
}

.menu li:not(.with-img) + li:before {
    content: " â— ";
    font-size: 10px;
    display: inline-block;
    height: 29px;
    padding-right: 6px;
    color: #dbdcde;
}

.menu a,
.menu a:visited,
.menu a:active {
    color: #FFFFFF;
}

.menu a:hover {
    color: #b60000;
    text-decoration: none;
}

.clear {
    clear: both;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #a90414;
    padding: 8px 15px 8px 15px;
    display: inline-block;
}

.main {
    background-color: #f9f8f3;
}

.left-pane {
    float: left;
    width: 50%;
    padding-right: 7px;
}

.right-pane {
    float: left;
    width: 50%;
    padding-left: 7px;
}

.main-element {
    padding: 5px;
    background-color: #e7e7de;
    width: 100%;
    margin-bottom: 15px;
}

.header {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.references {
    background-color: #dbdcde;
}

.references-header {
    font-weight: bold;
}

.col46 {
    width: 46px;
}

.col65 {
    width: 65px;
}

.col90 {
    width: 90px;
}

.col180 {
    width: 180px;
}

.col320 {
    width: 320px;
}

.number {
    text-align: right;
}

thead td {
    font-weight: bold;
    text-align: center;
    height: 18px;
}

.summary > td {
    font-weight: bold;
    color: #b70100;
    background-color: #ffffff;
}

.summary > .description {
    text-align: center;
}

table {
    width: 100%;
}

.tworows td {
    width: 50%;
}

.summary-emphasis {
    font-weight: bold;
}

.copyright,
.copyrightar {
    text-align: left;
    vertical-align: top;
    width: 500px;
    float: left;
}

.copyrightar {
    text-align: right;
    width: 80px;
    float: right;
}

.footer {
    padding: 8px 15px;
}

.meter {
    background-color: white;
    width: 300px;
    height: 10px;
}

.meter span {
    background-color: black;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.meter.primary-empty span {
    background-color: #0260d4;
}

.meter.secondary-empty span {
    background-color: #ff8609;
}

.meter.primary-secondary span {
    background-color: #0260d4;
}

.meter.primary-secondary {
    background-color: #ff8609;
}

.modal-popup-container {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-popup-content {
    background: #ffc3c3;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.modal-popup-exit {
    font-style: italic;
    margin-left: 10px;
}