<a href="#"><img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/home.png"></a>
<img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Akty Prawne</a>
<img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Dokumenty</a>
<img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Organy wyborcze</a>
<img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Kandydaci</a> <img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Frekwencja</a> <img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Wyniki</a> <img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Pierwsze głosowanie</a>
<img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">SEJM</a> <img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">SENAT</a> <img alt="" src="http://www.prezydent2005.pkw.gov.pl/PZT/PL/WYN/W/../../../img/menusep.png" class="msep">
<a href="#" class="link3">Wykonawca</a>