
<tr {% if cls %}class="{{ cls }}"{% endif %}>
    <td class="number col46">{{ numer }}</td>
    <td class="description col180">{{ nazwa }}</td>
    <td class="number col90">{{ liczba_waznych_glosow }}</td>
    <td class="number col90">{{ liczba_a }}</td>
    <td class="number col65">{{ procent_a }}</td>
    <td class="col320">
        <div class="meter primary-secondary">
            <span style="width: {{ procent_a }}%"></span>
        </div>
    <td class="number col65">{{ procent_b }}</td>
    <td class="number col90">{{ liczba_b }}</td>
</tr>
